.menu-button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em 1.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-shadow: none;
    background-color: gray;
    margin: 25px;
    border: 1px solid white;
    transition: 0.5s ease-out;
}

.menu-button:hover {
    color: black;
    background-color: white;
}

.sheader{
    align-items: left;
    width: 100%;
    background-color: silver;
    position: fixed;
    z-index: 10;
    margin-top: 102px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    justify-content: space-between;
}
